# Ignore paths that contain generated content.
cache/
files/
sites/*

# Ignore default text files
.htaccess
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt

# Ignore everything 
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/scripts
/themes

#composer
composer.lock

#vendor
vendor/*

#bin
bin/*

#output files
test/jm_behat_report.html
